body {
    background: #24353f;
}

h1 {
    color: #17a2b8;
}

.logIn {
    box-shadow: -5px 2px 54px -9px rgba(0, 0, 0, 1);
}

input::placeholder {
    color: #fff !important; 
}

a:hover {
    color: #0056b3 !important;
    text-decoration: underline !important;
}

#togglePassword {
    top: 5px;
    right: 8px;
    cursor: pointer;
}